# Server Port
PORT=5000

# JWT Cookie Name
COOKIE_NAME=token

# JWT Expiry Time
TOKEN_EXPIRE=1d

# MongoDB Connection URL
MONGODB_URL=

# JWT Secret Key
JWT_SECRET=

# TMDB API Key
TMDB_API_KEY=

# Gemini API Key
GEMINI_API_KEY=

# Optional TensorFlow Recommendation Service
TENSORFLOW_SERVICE_URL=http://localhost:7001
